
@{
    ViewData["Title"] = "注册";
}

<h2>注册</h2>

<div class="wrap-p50">

    <div class="form-group">
        <input class="form-control" id="name" name="name" type="text" placeholder="用户名" />
    </div>

    <div class="form-group">
        <input class="form-control" id="password" name="password" type="password" placeholder="密码" />
    </div>

    <div class="form-group">
        <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="确认密码" />
    </div>

    <div class="form-group">
        <button class="btn btn-default" id="reg">注册</button>
        <a href="/User/Login">登录</a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            regLst();
        });

        function regLst() {
            $('#reg').click(function () {
                var name = $('#name').val();
                if (!name) {
                    return alert('请输入用户名');
                }

                var pw = $('#password').val();
                if (!pw) {
                    return alert('请输入密码');
                }
                if (pw.length <= 5) {
                    return alert('密码至少6位');
                }
                var cfPw = $('#confirmPassword').val();
                if (cfPw != pw) {
                    return alert('确认密码不一致');
                }

                var deviceInfo = px.device.getDeviceInfo();
                $.ajax({
                    url: '@Url.Action("Register")',
                    type: 'post',
                    data: {
                        name: name,
                        password: pw,
                        deviceId: deviceInfo.id,
                        deviceName: deviceInfo.name,
                    },
                    dataType: 'json',
                    beforeSend: function () {
                        $(this).attr('disabled', true).addClass('a-disabled');
                        $(this).addClass('a-disabled');
                    },
                    complete: function () {
                        $(this).attr('disabled', false).removeClass('a-disabled');
                    },
                    success: function (res) {
                        px.ajax.interceptor(res, function () {
                            
                        });
                        location.href = res.Data.RedirectUrl;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus);
                    }

                })
            });
        }
        
    </script>
}

