@{
    ViewData["Title"] = "Home Page";
}

<h2>您已登录成功</h2>
<p><a href="javascript:void" onclick="logout()">退出</a></p>


@section Scripts{
    <script type="text/javascript">
        function logout() {
            $.ajax({
                url: '@Url.Action("Logout", "User")',
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    px.ajax.interceptor(res, function () {
                    });
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            })
        }
    </script>
}
