/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.pointer {
    cursor: pointer;
}

table.common {
    border: none;
}

    table.common th {
        padding-left: 1em;
    }

    table.common td {
        padding: 0.25em 1em;
    }

    table.common tr:nth-child(odd) {
        background-color: #efefef;
    }
    table.common tr.current {
        background-color: #b1b1b1;
        color: #000000;
    }

.a-disabled {
    color: gray;
}

.plupload .fileList {
    list-style: none;
    display: inline-block;
    width: 50%;
}

.plupload .progress {
    margin: 0.3em;
    width: 25em;
    height: 2em;
    text-indent: 0.7em;
}

.plupload .progress-bar {
    width: 0;
    height: 2em;
    line-height: 2.32em;
    background-color: #7fdde6;
    color: #887e7e;
}

.wrap-p50 {
    width: 50%;
    margin: 0 auto;
}

.form-inline {
    margin-bottom: 0.7em;
}

div.table-responsive {
    overflow: visible;
}

table.common td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

table.common th.Time {
    min-width: 13em;
}

table.common td.Time {
    overflow: visible;
}

.form-inline .form-group{
    padding-right:1em;
}

button.px-time-plus{
    padding:0.5em;
}

button.time-plus:last-of-type {
    margin-right:1.5em;
}